@font-face {
  font-family: timerFont;
  src: url(CursedTimerUlil-Aznm.ttf);
}

body {
  margin: 0;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #1b244a;
  width: 575px;
  height: 385px;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px,
    rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px,
    rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
}

.secondary-container {
  column-gap: 50px;
  display: flex;
  flex-direction: row;
}

/* main heading */
h3 {
  font-family: 'Verdana';
  font-weight: 700;
  font-size: 40px;
  color: #eeeeee;
  margin-bottom: 21px;
}

/* Score Field */
.score-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.scorefield {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 155px;
  height: 120px;
  background-color: black;
}

h4 {
  font-family: timerFont;
  font-weight: 400;
  font-size: 90px;
  line-height: 127px;
  color: #ff2d52;
}

/* Buttons */
.button-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 26px;
}

button {
  font-family: timerFont;
  background-color: #1b244a;
  color: white;
  border: 1px solid white;
  border-radius: 4px;
  padding: 8px;
  margin-left: 6px;
  margin-right: 6px;
}

button:hover {
  cursor: pointer;
}

#resetBtn {
  margin-top: 30px;
  width: 100px;
}
