body {
  margin: 0;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  justify-content: space-around;
  background-color: #1b244a;
  width: 575px;
  height: 385px;
  border-radius: ;
}

h3 {
  font-family: 'Verdana';
  font-weight: 700;
  font-size: 40px;
  color: #eeeeee;
  margin-bottom: 21px;
}

/* Score Field */
.score-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.scorefield {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 155px;
  height: 120px;
  background-color: black;
}

h4 {
  font-weight: 400;
  font-size: 90px;
  line-height: 127px;
  color: #f94f6d;
}

/* Buttons */
.button-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 26px;
}

button {
  background-color: #1b244a;
  color: white;
  border: 1px solid white;
  border-radius: 4px;
  padding: 10px;
  margin-left: 10px;
  margin-right: 10px;
}
